<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <!-- Favicon insere a imagem na página lá em cima-->
    <link rel="shortcut icon" href="/public/image/favicon.jpg" type="image/png">
    <!-- Insere o CSS-->
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">

    <script src="/public/script/mean.js"></script>

    <title>ProjetoJS</title>
</head>

<body>
    <div class="principal">
        <button onclick="mean()">MEAN</button>
        <button onclick="teste()">TESTE</button>
    </div>

</body>

</html>